.header{
    background: green;
    height: 60px; /*Es el alto de 60px */
    grid-area: header;
}
.wrapper{
    max-width: 1000px ; /* Ancho maximo*/
    margin: 0 auto; /*Margen que acepta cuatro valores con el auto calcula el lado derecho e inquiero y el 0 signifa que deja espacio arriba*/
    display: grid; /*Convierta en una cuadricula la disposición del elemento*/
    grid-template-areas: 'header header header header'
                         'menu content content content'
                         'footer footer footer footer';/*Armar cuadricula*/
}
.menu{
    text-align: center;
    background:aqua;
    grid-area: menu;
    
}
.content{
    text-align: center;
    background: violet;
    grid-area: content;

}
.footer{
    background: orange;
    height: 30px;
    grid-area: footer;
}
